{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}



<h1 class="text-white text-center" >Global Event Management</h1>



<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
<script src="https://codepen.io/juliangarnier/pen/75efae7724dbc3c055e918057fc4aca5.js"></script>
<script src="{{asset("script/home.js")}}"></script>{% endblock %}
