{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

  {% block stylesheets %}
            <link rel="stylesheet" href="{{asset("css/home.css")}}">
        {% endblock %}

{% block body %}






  <div class="header">
        <video class="background-video" muted autoplay loop src="{{asset("picture/home1.mp4")}}"></video>
        <h1>Global Event Management</h1>
        <button class="btn btn-secondary">
            <i class="fa fa-pause"></i>
        </button>
    </div>



<script src="{{asset("script/home.js")}}"></script>{% endblock %}
