{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1 class="text-center">Welcome to the global event management company</h1>
<h3>here will be some static content about the company</h3>
{% endblock %}
